In [1]:
import pandas as pd

In [4]:
# Read the csv
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user")
# Print the first 5 rows
users

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213